@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
body {
	background-color: #f7f6f6;
	color: #ffb26f;
	height: 100vh;
	box-sizing: border-box;
	align-items: center;
}
.presentacion {
	display: flex;
	align-items: center;
}
.paginaEnlaces {
	display: flex;
	flex-direction: column;
	gap: 25px;
}
.paginaLinks li {
	display: inline-block;
	text-decoration: none;
	padding: 2%;
}
a {
	text-decoration: none;
	font-family: "Sour Gummy", sans-serif;
	font-size: 25px;
	margin: 0 15px;
}

.title {
	text-align: center;
	font-family: "Sour Gummy", sans-serif;
	font-size: 60px;
	margin-bottom: 15px;
}
.imagen-1 {
	width: 1000px;
}

.pink {
	color: pink;
}
.orange {
	color: #ffc98c;
}
.pink-2 {
	color: #ec9989;
}
.blue {
	color: #b2dfdc;
}
.img_center {
	display: flex;
	justify-content: center;
}
.fb_icon {
	width: 35px;
}
.links {
	display: flex;
	justify-content: space-around;
	margin: 20px 620px;
}
.blue2 {
	color: #b2dfdc;
}
.orange2 {
	color: #ec9989;
}
.yellow {
	color: #f9d21d;
}
.orange {
	color: #ffc98c;
}
.variety_links {
	display: flex;
	justify-content: center;
	font-family: "Sour Gummy", sans-serif;
	font-size: 30px;
	display: flex;
	justify-content: space-around;
}
.newsletter {
	color: #ec9989;
	text-decoration: none;
	font-family: "Sour Gummy", sans-serif;
	font-size: 20px;
	margin: 2% 40%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 2%;
}
.emailSignUp {
	text-decoration: none;
	font-size: 15px;
	font-family: "Sour Gummy", sans-serif;
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: #ec9989;
}
h3.no_margin {
	margin: 0px;
}
input {
	border-color: #ec9989;
}
.btn_1 {
	box-shadow: inset 0px 39px 0px -24px #e67a73;
	background-color: #e4685d;
	border-radius: 4px;
	border: 1px solid #ffffff;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: "Sour Gummy", sans-serif;
	font-size: 15px;
	padding: 6px 15px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #b23e35;
}
.content_bottom {
	font-family: "Sour Gummy", sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #e4685d;
}
li {
	list-style-type: none;
}
.faq {
	color: black;
}
.policies {
	font-family: "Sour Gummy", sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #e4685d;
}
